
<div class="container">
    
     <div> 
        <div class="row">
           <div class="col-xs-6 col-md-3">
                <h3> Techologies</h3>
                <a (click)="onGoToProfile(3)" class="thumbnail">
                    <button type="button" class="btn btn-group-sm btn-primary" >See Deatails
                    </button>
                </a>
            </div>

            <div class="col-xs-6 col-md-3">
                    <h3> Publications</h3>
                    <a (click)="onGoToPublications(3)" class="thumbnail">
                        <button type="button" class="btn btn-group-sm btn-primary" >See Deatails
                        </button>
                    </a>
                </div>
    </div>

</div>
</div>

