
<div class="container">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="sourav-pati-a2909228"><a class="LI-simple-link" href='https://www.linkedin.com/in/sourav-pati-a2909228?trk=profile-badge'>Click to see my Linkedin profile </a></div>
     <div> 
        <div class="row">
                <div class="col-xs-6 col-md-3">
                        <h4>Experience</h4>
                        <li class="list-group-item active">MBO Partners (Edmond , OK)</li>
                        <li class="list-group-item">Goldman Sachs (New York , NY)</li>
                        <li class="list-group-item">ATT & T (Seatle , WA)</li>
                        <li class="list-group-item">Devon Energy (Oklahoma City , OK)</li>
                        <li class="list-group-item">TTMS (Novi, MI)</li>
                        <li class="list-group-item">Tata Consultancy Services (Bangalore , India)</li>
                        <li class="list-group-item">WIPRO Technologies (Bangalore, India)</li>
                     </div>


           <div class="col-xs-6 col-md-3">
                <h4> Technologies</h4>
                <li class="list-group-item">Java</li>
                <li class="list-group-item">J2EE</li>
                <li class="list-group-item">Docker</li>
                <li class="list-group-item">SpringBoot</li>
                <li class="list-group-item">Elasticsearch</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">MongoDB</li>
                <li class="list-group-item">Microservice</li>
                <li class="list-group-item">EventSourcing</li>
                <li class="list-group-item">Mule</li>
                
             </div>

            <div class="col-xs-6 col-md-3">
                    <h4> Publications</h4>
                    <a href="http://www.ingentaconnect.com/content/ben/cseng/2013/00000006/00000001/art00009" class="list-group-item">DOSS ATTACK (Patent)</a>
                    <a href="http://ieeexplore.ieee.org/abstract/document/7158627/authors?ctx=authors" class="list-group-item">SCADA</a>                    
                    <!--<a (click)="onGoToPublications(3)" class="thumbnail">
                        <button type="button" class="btn btn-group-sm btn-primary" >See Deatails
                        </button>
                    </a>-->
                </div>

                <div class="col-xs-6 col-md-3">
                        <h4> Education</h4>
                        <li class="list-group-item">Master Of Science (Computer Sceince) University of Michigan</li>
                        <li class="list-group-item">Bachelor Of Technologies (Electronics And Telecommunication Eng) B.P.U.T</li>

                     </div>
    </div>

</div>
</div>

