<div class="container">

    <div class="well title-header">
        <p>My Profile</p>
    </div>
    <nav>
        <ul>
        
        </ul>
    </nav>
    <section>
    
</section>    
    <section>
  <div class="row padding-top-10">
        <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask"></div>
                </a>
            </div>
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
            <div *ngFor="let prof of profiles">

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="thumbnail"
                         style="border-left: 5px solid #42A948; background-color: #F0F0F0; padding-left: 10px">
                        <span> Name: {{prof.name}}</span> <br>
                        <span> Languages : {{prof.languages}}</span>
                    </div>
                </div>

            </div>

        </div>

    </section>

</div>

